.catalog-home {
  padding: 50px 0px;

  //.catalog-home__inner
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //.catalog-home__title
  &__title {
    display: inline-flex;
    justify-content: center;
    position: relative;
    margin-bottom: 35px;
    color: rgb(51, 51, 51);
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 35px;
      text-align: center;
    }



    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $accent;
    }
  }

  //.catalog-home__grid
  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

  //.catalog-home__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  //.catalog-home__image
  &__image {
  }

  //.catalog-home__text
  &__text {
    color: rgb(82, 82, 82);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
  }


}