.truck {


  //.truck__title
  &__title {
  }

  //.truck__row
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
  }

  //.truck__left
  &__left {
  }

  //.truck__right
  &__right {
  }

  //.truck__nav
  &__nav {
    margin-bottom: 26px;
    position: relative;
  }

  //.truck__nav-list
  &__nav-list {
    display: flex;
    align-items: center;
    gap: 50px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  //.truck__nav-item
  &__nav-item {
    color: rgb(64, 64, 64);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    cursor: pointer;

    &._active {
      color: rgb(0, 0, 0);
      //border-bottom: 2px solid rgb(244, 124, 48);

      @media screen and (max-width: 768px) {
        color: $accent;
      }
    }


  }

  //.truck__brochure
  &__brochure {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(244, 124, 48);
    box-shadow: 0px 1px 2px 0px rgba(248, 124, 48, 0.15), 0px 3px 3px 0px rgba(248, 124, 48, 0.13), 0px 8px 5px 0px rgba(248, 124, 48, 0.08), 0px 14px 5px 0px rgba(248, 124, 48, 0.02), 0px 21px 6px 0px rgba(248, 124, 48, 0);
    background: rgb(244, 124, 48);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    transition: $animation_speed;

    @media (hover: hover) {
      &:hover {
        border: 1px solid rgb(190, 190, 190);
        background: #ffffff;
        color: rgb(60, 60, 60);
        box-shadow: none;
      }
    }
  }

  //.truck__image
  &__image {
    max-width: 900px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.truck__cta
  &__cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 19px;
    margin-top: 30px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 9px 0px rgba(92, 92, 92, 0.15), 0px 16px 16px 0px rgba(92, 92, 92, 0.13), 0px 37px 22px 0px rgba(92, 92, 92, 0.08), 0px 65px 26px 0px rgba(92, 92, 92, 0.02), 0px 101px 28px 0px rgba(92, 92, 92, 0);
    background: rgb(255, 255, 255);

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  //.truck__cta-button
  &__cta-button {
    width: 100%;
    padding: 15px 50px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(248, 124, 48, 0.15), 0px 3px 3px 0px rgba(248, 124, 48, 0.13), 0px 8px 5px 0px rgba(248, 124, 48, 0.08), 0px 14px 5px 0px rgba(248, 124, 48, 0.02), 0px 21px 6px 0px rgba(248, 124, 48, 0);
    background: rgb(244, 124, 48);
    transition: $animation-speed;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        border: 1px solid rgb(190, 190, 190);
        background: #ffffff;
        color: rgb(60, 60, 60);
        box-shadow: none;
      }
    }

    //.truck__cta-button--white
    &--white {
      border: 1px solid rgb(190, 190, 190);
      background: #ffffff;
      color: rgb(60, 60, 60);
      box-shadow: none;

      @media (hover: hover) {
        &:hover {
          color: rgb(255, 255, 255);
          box-shadow: 0px 1px 2px 0px rgba(248, 124, 48, 0.15), 0px 3px 3px 0px rgba(248, 124, 48, 0.13), 0px 8px 5px 0px rgba(248, 124, 48, 0.08), 0px 14px 5px 0px rgba(248, 124, 48, 0.02), 0px 21px 6px 0px rgba(248, 124, 48, 0);
          background: rgb(244, 124, 48);
        }
      }
    }
  }

  //.truck__wheelbase
  &__wheelbase {
  }

  //.truck__specs
  &__specs {
  }

}

.wheelbase {
  position: relative;

  //.wheelbase__options
  &__options {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 10px;
    background: rgb(255, 255, 255);

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  //.wheelbase__option
  &__option {
    position: relative;
    padding: 6px 50px;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #000000;
    cursor: pointer;
    z-index: 1;

    &._active {
      color: #ffffff;

      @media screen and (max-width: 768px) {
        color: $accent;
      }
    }
  }

  //.wheelbase__label
  &__label {
    margin: 20px 0px 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
  }

  //.wheelbase__indicator
  &__indicator {
    background: rgb(244, 124, 48);
    color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 34px;
    width: 100%;
    border-radius: 6px;
    z-index: 0;
    transition: $animation_speed;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.specs {

  //.specs__block
  &__block {

    //.specs__block--main
    &--main {
    }
  }

  //.specs__title
  &__title {
    color: rgb(244, 124, 48);
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 12px;
  }

  //.specs__row-inner
  &__row-inner {
    display: grid;
    gap: 15px;
    padding: 12px 0px;
    border-bottom: 1px solid rgb(201, 201, 201);


  }

  //.specs__row
  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @media screen and (max-width: 578px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 425px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  //.specs__item
  &__item {

    strong {
      color: rgb(41, 37, 35);
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;
    }

  }

  //.specs__text
  &__text {
    color: rgb(122, 121, 121);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 12px;
  }
}

.active-element {
  width: 100%;
  position: absolute;
  bottom: -2px;
  border-bottom: 2px solid rgb(244, 124, 48);
  transition: all 0.3s ease;

  @media screen and (max-width: 768px) {
    display: none;
  }
}


.truck-info {
  padding: 50px 0px;

  //.truck-info__title
  &__title {
    margin-bottom: 20px;
    color: rgb(51, 51, 51);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }

  //.truck-info__row
  &__row {
    display: flex;
    gap: 21px;
    margin-bottom: 35px;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }

  //.truck-info__image
  &__image {
    @media screen and (min-width: 992px) {
      max-width: 396px;
    }

    img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.truck-info__content
  &__content {
    width: 100%;
    padding: 35px 39px;
    background: #2D2D2D;
    border-radius: 20px;
    color: #ffffff;
  }

  //.truck-info__volume
  &__volume {
    font-size: 20px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 15px;
  }

  //.truck-info__list
  &__list {
    display: grid;
    gap: 20px;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }


}

.comfort {
  padding: 50px 0px;

  //.comfort__title
  &__title {
    color: rgb(51, 51, 51);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 20px;
  }

  //.comfort__grid
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 27px;
  }

  //.comfort__item
  &__item {
    display: flex;
    flex-direction: column;
    gap: 35px;


  }

  //.comfort__image
  &__image {

    img {
      max-width: 100%;
      border-radius: 20px;
    }
  }

  //.comfort__content
  &__content {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 6px 14px 0px rgba(92, 92, 92, 0.2), 0px 25px 25px 0px rgba(92, 92, 92, 0.17), 0px 57px 34px 0px rgba(92, 92, 92, 0.1), 0px 102px 41px 0px rgba(92, 92, 92, 0.03), 0px 159px 44px 0px rgba(92, 92, 92, 0);
    background: rgb(45, 45, 45);
  }

  //.comfort__title-card
  &__title-card {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 23.4px;
    margin-bottom: 10px;
  }

  //.comfort__descr
  &__descr {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }


}