.truck {

  //.truck__title
  &__title {
  }

  //.truck__row
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  //.truck__left
  &__left {
  }

  //.truck__right
  &__right {
  }

  //.truck__nav
  &__nav {
    margin-bottom: 26px;
    position: relative;
  }

  //.truck__nav-list
  &__nav-list {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  //.truck__nav-item
  &__nav-item {
    color: rgb(64, 64, 64);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    cursor: pointer;

    &._active {
      color: rgb(0, 0, 0);
      //border-bottom: 2px solid rgb(244, 124, 48);
    }
  }

  //.truck__brochure
  &__brochure {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(244, 124, 48);
    box-shadow: 0px 1px 2px 0px rgba(248, 124, 48, 0.15), 0px 3px 3px 0px rgba(248, 124, 48, 0.13), 0px 8px 5px 0px rgba(248, 124, 48, 0.08), 0px 14px 5px 0px rgba(248, 124, 48, 0.02), 0px 21px 6px 0px rgba(248, 124, 48, 0);
    background: rgb(244, 124, 48);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    transition: $animation_speed;

    @media (hover: hover) {
      &:hover {
        border: 1px solid rgb(190, 190, 190);
        background: #ffffff;
        color: rgb(60, 60, 60);
        box-shadow: none;
      }
    }
  }

  //.truck__image
  &__image {
    max-width: 900px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  //.truck__cta
  &__cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 19px;
    margin-top: 30px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 9px 0px rgba(92, 92, 92, 0.15), 0px 16px 16px 0px rgba(92, 92, 92, 0.13), 0px 37px 22px 0px rgba(92, 92, 92, 0.08), 0px 65px 26px 0px rgba(92, 92, 92, 0.02), 0px 101px 28px 0px rgba(92, 92, 92, 0);
    background: rgb(255, 255, 255);
  }

  //.truck__cta-button
  &__cta-button {
    width: 100%;
    padding: 15px 50px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(248, 124, 48, 0.15), 0px 3px 3px 0px rgba(248, 124, 48, 0.13), 0px 8px 5px 0px rgba(248, 124, 48, 0.08), 0px 14px 5px 0px rgba(248, 124, 48, 0.02), 0px 21px 6px 0px rgba(248, 124, 48, 0);
    background: rgb(244, 124, 48);
    transition: $animation-speed;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        border: 1px solid rgb(190, 190, 190);
        background: #ffffff;
        color: rgb(60, 60, 60);
        box-shadow: none;
      }
    }

    //.truck__cta-button--white
    &--white {
      border: 1px solid rgb(190, 190, 190);
      background: #ffffff;
      color: rgb(60, 60, 60);
      box-shadow: none;

      @media (hover: hover) {
        &:hover {
          color: rgb(255, 255, 255);
          box-shadow: 0px 1px 2px 0px rgba(248, 124, 48, 0.15), 0px 3px 3px 0px rgba(248, 124, 48, 0.13), 0px 8px 5px 0px rgba(248, 124, 48, 0.08), 0px 14px 5px 0px rgba(248, 124, 48, 0.02), 0px 21px 6px 0px rgba(248, 124, 48, 0);
          background: rgb(244, 124, 48);
        }
      }
    }
  }

  //.truck__wheelbase
  &__wheelbase {
  }

  //.truck__specs
  &__specs {
  }

}

.wheelbase {

  //.wheelbase__options
  &__options {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 10px;
    background: rgb(255, 255, 255);
  }

  //.wheelbase__option
  &__option {
    padding: 6px 50px;
    width: 100%;
    border-radius: 6px;
    background: rgb(244, 124, 48);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #ffffff;
  }

  //.wheelbase__label
  &__label {
    margin: 20px 0px 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
  }

}

.specs {

  //.specs__block
  &__block {

    //.specs__block--main
    &--main {
    }
  }

  //.specs__title
  &__title {
    color: rgb(244, 124, 48);
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 12px;
  }

  //.specs__row-inner
  &__row-inner {
    display: grid;
    gap: 15px;
    padding: 12px 0px;
    border-bottom: 1px solid rgb(201, 201, 201);
  }

  //.specs__row
  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  //.specs__item
  &__item {

    strong {
      color: rgb(41, 37, 35);
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;
    }

  }

  //.specs__text
  &__text{
    color: rgb(122, 121, 121);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 12px;
  }
}

.active-element {
  width: 100%;
  position: absolute;
  bottom: -2px;
  border-bottom: 2px solid rgb(244, 124, 48);
  transition: all 0.3s ease;
}