// Normalize.css
@import '../../node_modules/normalize.css/normalize';
// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap-grid';


// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import 'fonts';

// Переменны (цвета, скорость transition и пр)
@import '_variables';

@import '_header';
@import '_footer';
@import '_catalog-home';
@import '_diller';
@import '_callback';
@import '_about';
@import '_reviews';
@import '_news';
@import '_map';
@import '_truck-page';
@import '_breadcrumbs';
@import '_contact-us';
@import '_contact';
@import '_index-slider';
@import '_faq';
@import '_about-page';
@import '_stock';
@import '_text-block';
@import '_catalog';
@import '_popup';
@import '_forms';

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

ul,ol {
  list-style: none;
}

a {
  text-decoration: none;
}

p {

}

button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 360px;
  overflow-x: hidden;
  font-family: $main_font;
  color: $main;
  main {
    flex: 1 0 auto;
  }
}

.container {
  @media screen and (min-width: 1200px) {
    max-width: 1658px !important;
  }

}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 60px;
  border-radius: 10px;
  border: 1px solid $accent;
  box-shadow: 0px 3px 6px 0px rgba(244, 124, 48, 0.1),0px 11px 11px 0px rgba(244, 124, 48, 0.09),0px 24px 14px 0px rgba(244, 124, 48, 0.05),0px 43px 17px 0px rgba(244, 124, 48, 0.01),0px 66px 19px 0px rgba(244, 124, 48, 0);
  background: rgb(244, 124, 48);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  transition: $animation-speed;
  cursor: pointer;

  @media (hover:hover) {
    &:hover {
      background-color: #ffffff;
      color: $accent;
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  @media screen and (max-width: 578px) {
    width: 100%;
  }
}

.burger {

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $accent;
  cursor: pointer;
}

.title {
  display: inline-flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
  color: rgb(51, 51, 51);
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 35px;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $accent;
  }
}

.close {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 25px;
  height: 25px;
  transition: $animation_speed;


  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    height: 2px;
    margin-top: -1px;
    background-color: rgba($color: #000000, $alpha: 1.0);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  @media (hover:hover) {
    &:hover {
      transform: rotate(180deg);
    }
  }
}


